/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

#grpOutput {
	text-align: center;
	vertical-align: middle;
	
	height: 480;
}

#cnvOsilloscope {
	borderStyle: solid;
	borderThickness: 1;
	borderColor: #181a1e;
	
	backgroundColor: #364663;
}

#cnvLvls {
	borderStyle: solid;
	borderThickness: 1;
	borderColor: #181a1e;
	
	backgroundColor: #364663;
}